<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clean.CSS | Button</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/documentation/get-started.css">
    <link rel="stylesheet" href="button.css">
</head>

<body>
    <div class="app-container">
        <nav class="navbar">
            <div class="left-nav">
                <button id="menu-icon-button" class="burger-menu-button">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="link-no-style" href="./">
                    <div class="logo-title">clean<span class="logo-and-symbol-style">.CSS</span>
                    </div>
                    <div class="logo-tagline">UI LIBRARY OF CLEAN CODE</div>
                </a></div>

            <ul class="right-nav">
                <li class="navlist-link"><a href="/index.html">Home</a></li>
                <li class="navlist-link"><a href="/documentation/get-started.html">Docs</a></li>
                <li>
                    <a class="navlist-link" href="https://github.com/Kavita539"> <i class="fab fa-github"></i></a>
                </li>
            </ul>
        </nav>

        <div class="doc-container">
            <div id="sidebar-container" class="sidebar-container">
                <button id="close-btn" class="close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <div class="nested-list-container">
                    <div class="list-topic" class="btn-display">
                        <a href="/">
                            Get Started
                        </a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/documentation/get-started.html">
                                Introduction
                            </a>
                        </li>
                </div>

                <div class="nested-list-container">
                    <div class="list-topic">
                        <a href="/">Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="/components/avatar/avatar.html">Avatar</a>
                        </li>
                        <li>
                            <a href="/components/alert/alert.html">Alert</a>
                        </li>
                        <li>
                            <a href="/components/badge/badge.html">Badge</a>
                        </li>
                        <li>
                            <a class="active" href="/components/button/button.html">Button</a>
                        </li>
                        <li>
                            <a href="/components/card/card.html">Card</a>
                        </li>
                        <li>
                            <a href="/components/image/image.html">Image</a>
                        </li>
                        <li>
                            <a href="/components/input/input.html">Input</a>
                        </li>
                        <li>
                            <a href="/components/textUtilities/textUtilities.html">Text Utilities</a>
                        </li>
                        <li>
                            <a href="/components/list/list.html">List</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="doc-content" class="doc-content">
                <div class="wrapper-shadow">
                    <div class="content-title">Button</div>
                    <div class="content-para">Buttons are the soul of an any application. Buttons allow users to take
                        actions, and make choices, with a single tap.
                        You may use a tag or button element, you need to add respective classes, and you are good to go.
                    </div>
                    <div class="divider"></div>

                    <!-- CONTAINED BUTTON -->
                    <div class="content-head">Contained Button</div>
                    <div class="content-para">Contained buttons have more emphasis, as they use a color fill and shadow.
                        They contain actions that are primary to your app
                    </div>
                    <div class="component-example-div">
                        <button class="btn">DEFAULT</button>
                        <button class="btn btn-primary">PRIMARY</button>
                        <button class="btn btn-secondary">SECONDARY</button>
                        <button class="btn btn-error">ERROR</button>
                        <button class="btn btn-success">SUCCESS</button>
                    </div>

                    <div class="code-container">
                        <code>
                            <iframe
                                src="https://carbon.now.sh/embed?bg=rgba%2899%2C102%2C241%2C1%29&t=night-owl&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESECONDARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error%2522%253EERROR%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESUCCESS%253C%252Fbutton%253E"
                                style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                                sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </code>
                    </div>
                    <div class="divider"></div>

                    <!--OUTLINED BUTTON -->
                    <div class="content-head">Outlined Button</div>
                    <div class="content-para">Outlined buttons are the ones that do not have hefty background colors.
                        Outlined buttons are used for more emphasis than text buttons due to the stroke.

                    </div>
                    <div class="component-example-div">
                        <button class="btn outline-btn">DEFAULT</button>
                        <button class="btn outline-btn-primary">PRIMARY</button>
                        <button class="btn outline-btn-secondary">SECONDARY</button>
                        <button class="btn outline-btn-error">ERROR</button>
                        <button class="btn outline-btn-success">SUCCESS</button>
                    </div>

                    <div class="code-container">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%2899%2C102%2C241%2C1%29&t=night-owl&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520outline-btn%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-btn-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-btn-secondary%2522%253ESECONDARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-btn-error%2522%253EERROR%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520outline-btn-success%2522%253ESUCCESS%253C%252Fbutton%253E"
                            style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="divider"></div>

                    <!--Icon BUTTON -->
                    <div class="content-head">Icon Button</div>
                    <div class="content-para">Icon Buttons can have icon or icon along with text. Use the 'btn' class
                        followed by 'text-icon-btn'.
                    </div>
                    <div class="component-example-div">
                        <button class="btn text-icon-btn"><span><i class="fas fa-save"></i></span>Save</button>
                        <button class="btn text-icon-btn btn-primary"><span><i
                                    class="fas fa-shopping-cart"></i></span>Add to cart</button>
                        <button class="btn text-icon-btn btn-secondary"><span><i
                                    class="fas fa-minus"></i></span>Remove</button>
                    </div>

                    <div class="code-container">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%2899%2C102%2C241%2C1%29&t=night-owl&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520text-icon-btn%2522%253E%253Cspan%253E%253Ci%2520class%253D%2522fas%2520fa-save%2522%253E%253C%252Fi%253E%253C%252Fspan%253ESave%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520text-icon-btn%2520btn-primary%2522%253E%253Cspan%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%253C%252Fspan%253EAdd%2520to%2520cart%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520text-icon-btn%2520btn-secondary%2522%253E%253Cspan%253E%253Ci%2520class%253D%2522fas%2520fa-minus%2522%253E%253C%252Fi%253E%253C%252Fspan%253ERemove%253C%252Fbutton%253E"
                            style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="divider"></div>
                    <div class="content-head">Link Button</div>
                    <div class="content-para">Link Buttons are used to attach a link to the button.
                    </div>
                    <div class="component-example-div">
                        <button class="btn link-btn">
                            <a href="#">LINKED ITEM</a>
                        </button>

                    </div>

                    <div class="code-container">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%2899%2C102%2C241%2C1%29&t=night-owl&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520link-btn%2522%253E%253Ca%2520href%253D%2522%2523%2522%253ELINKED%2520ITEM%253C%252Fa%253E%253C%252Fbutton%253E"
                            style="width: 100%; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
        <script src="/js/sidebar.js"></script>
</body>

</html>