.btn{
    font-weight: 600;
    background: var(--default-color);
    color: var(--pure-white);
    min-width: 6rem;
    width: max-content;
    padding: var(--padding-xs) var(--padding-sm);
    border-radius: 1px;
    border: none;
    transition: all .3s ease-in-out;
    margin: 9px;
    border-radius: 8px;
}

/* text icon btn styling */
.text-icon-btn{
    background-color: var(--active-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-color);
}

/* link btn styling */
.link-btn{
    background-color: var(--active-color);
    text-decoration: none;
    color: var(--secondary-color);
}

/* contained btn styling */
.btn-primary{
    background-color : var(--primary-color);
}

.btn-secondary{
    background-color: var(--secondary-color);
    color : var(--btn-txt-color);
}

.btn-error{
    background-color: var(--danger-color);
}

.btn-success{
    background-color: var(--success-color);
}

/* contained btn hover styling */
.btn-primary:hover{
    background-color: var(--primary-hover);
}

.btn-secondary:hover{
    background-color: var(--secondary-hover);
}

.btn-error:hover{
    background-color: var(--danger-hover);
}

.btn-success:hover{
    background-color: var(--success-hover);
}

/* outline btn */
.outline-btn{
    background-color: transparent;
    border: 1px solid var(--default-color);
    color : var(--default-color);
    border-radius: 8px;
}

.outline-btn-primary{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outline-btn-secondary{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--sec-btn-color);
}

.outline-btn-error{
    background-color: transparent;
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

.outline-btn-success{
    background-color: transparent;
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

/* outline btn hover styling */
.outline-btn-primary:hover{
    background-color: var(--primary-color);
    color: var(--pure-white);
}

.outline-btn-secondary:hover{
    background-color: var(--secondary-color);
    color: var(--black);
}

.outline-btn-error:hover{
    background-color: var(--danger-color);
    color: var(--pure-white);
}

.outline-btn-success:hover{
    background-color: var(--success-color);
    color: var(--pure-white);
}

/* text icon btn & link btn hover styling */
.text-icon-btn:hover,.link-btn:hover{
    opacity: 0.7;
}

/* Floating btn */
.floating-btns{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn-floating {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
}
  
.btn-floating:hover {
    opacity: 0.8;
}
  
.floating-up-arrow-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}


