@import url(../stylesheets/layout/code-container.css);

.code-container {
  position: relative;
  padding-top: 32.25%;
  margin: var(--margin-lg) 0;
  width: 100%;
  overflow: auto;
  border-radius: 0.3rem;
  }


  .code-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--doc-section-color);
  }

  

  