@import url(../stylesheets/layout/navbar.css);
@import url(../stylesheets/layout/sidebar.css);
@import url(../stylesheets/layout/code-container.css);
@import url(../stylesheets/base/reset.css);
@import url(../stylesheets/base/root-variables.css);



.doc-container{
    display: flex;
    width: 100%;
}

.doc-content{
    display: flex;
    justify-content:space-between;
    min-width: 0;
    margin: 0px auto;
    width: 100%;
    flex: 1 1 0%;
    padding: var(--padding-sm);
    height: max-content;
}

.content-title{
    color : var(--doc-heading);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: var(--margin-xxxs);
}

.content-subtitle{
    line-height: 0.7rem;
    color : var(--doc-heading);
    margin-bottom: var(--margin-lg);
    font-size: 1rem;
    font-weight: 450;
}

.content-head{
    color : var(--doc-heading);
    font-size: 1.6rem;
    font-weight: 550;
    margin-bottom: var(--margin-xxxs);
}

.content-para{
    line-height: 1.4rem;
    color : var(--doc-heading);
    margin-bottom: var(--margin-sm-two);
    font-size: 1.2rem;
    font-weight: 400;
}

.content-note{
    line-height: 1.4rem;
    color : var(--dark-primary-color);
    margin-bottom: var(--margin-sm-two);
    font-size: 1.2rem;
    font-weight: 400;
}

.divider{
    margin-bottom: var(--margin-md);
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
}

.primary-txt-color{
    color: var(--primary-color);
}

.alert-container{
   flex-direction: column;
}

.component-example-div{
    box-shadow: var(--box-shadow-doc);
    border-radius: 4px;
    background-color: var(--doc-section-color);
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-sm);
    margin-bottom: var(--margin-md);
    flex-wrap: wrap;

}
    

@media screen and (max-width : 1024px){
    .doc-content{
        margin: auto;
        width: 90%;
    }

    .content-title{
        font-size: 1.5rem;
    }

    .content-subtitle{
        font-size: .7rem;
        line-height: 20px;
    }

    .content-head{
        font-size: 1.3rem;
    }
     
    .contet-para{
        font-size: 0.9rem;
        margin-bottom: var(--margin-sm);
    }
}