html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.4;
    overflow-x: hidden;
    background-color: var(--bg-color);
  }

  ul {
    list-style-type: none;
  }
  
  li {
    padding: 0.3rem;
    margin: 0.4rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button {
    cursor: pointer;
    outline: none;
  }