:root{
    --primary-color: #4338ca;
    --light-primary-color: #6366f1;
    --dark-primary-color: #3730a3;

    --text-color: #696b79;
    --dark-text-color: #3f4049;
    --light-text-color: #282c3f;

    --logo-color: #333;

    --bg-color-primary: #fdfdff;
    --bg-color: #fcfcfc;

    --nav-list-color: rgb(90, 90, 90);
    --list-topic-color: #444444;
    --sidebar-list-topic: #000;

    --box-shadow-color: rgb(192, 192, 192);
    --box-shadow-btn:  rgb(0 0 0 / 24%) 0px 4px 9px;
    --box-shadow-doc: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;

    --secondary-color: #F3F4F6;
    --active-color: #6366f1;
    --success-color: #4CAF50;
    --warning-color: #FF9800;
    --danger-color: #F44336;

    --pure-white: white;
    --grey: grey;

    --doc-heading: #333333;
    --doc-section-color: #e6e6e6;
    --code-container-color: #FAFAFA;
    --divider-color: #dadadaf3;

    --primary-hover: #4F46E5;
    --secondary-hover: #E5E7EB;

    --padding-xxxs: .3rem;
    --padding-xxs: .4rem;
    --padding-xs: .5rem;
    --padding-sm: 1rem;
    --padding-md: 1.5rem;
    --padding-lg: 2rem;
    --padding-xlg: 2.5rem;
    --padding-xxlg: 3rem;

    --margin-xxxs: .3rem;
    --margin-xxs: .4rem;
    --margin-xs: .5rem;
    --margin-sm: 1rem;
    --margin-sm-two: 1.2rem;
    --margin-md: 1.5rem;
    --margin-lg: 2rem;
    --margin-xlg: 2.5rem;
    --margin-xxlg: 3rem;
}